[submodule "MonoGame.Extended"]
	path = MonoGame.Extended
	url = https://github.com/geirsagberg/MonoGame.Extended.git
[submodule "Apos.Gui"]
	path = Apos.Gui
	url = https://github.com/Apostolique/Apos.Gui
