@page "/"
@inject DebugSink DebugSink
@implements IDisposable

@functions {

  protected override void OnInitialized()
  {
    DebugSink.Change += DebugSinkChange;
  }

  private void DebugSinkChange(Dictionary<int, string> jsons)
  {
    InvokeAsync(() =>
    {
      this.jsons = jsons;
      StateHasChanged();
    });
  }

  private Dictionary<int, string> jsons = new Dictionary<int, string>();

  public void Dispose()
  {
    DebugSink.Change -= DebugSinkChange;
  }

}


<h1>BunnyLand Debugger</h1>

<div style="display: flex;">
  @{
    foreach (var json in jsons.Values)
    {
      <pre style="line-height: 1; width: 400px; overflow: visible">
      @json
      </pre>
    }
  }
</div>
